<footer>
  <div class="container">
    <a href="https://khadija.agency" target="_blank">{{ text_project }}</a>|<a href="https://wiki.khadija.agency/souk/en-gb/introduction/" target="_blank">{{ text_documentation }}</a>|<a href="https://spaces.khadija.agency" target="_blank">{{ text_support }}</a><br />
  </div>
</footer>
</body></html>
