{#
 * This file is part of the Souk Shipping module of DPD Nederland B.V.
 *
 * Copyright (C) 2018  DPD Nederland B.V.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #}
{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
  <div class="container-fluid">
    <div class="pull-right">
    </div>
    <h1>{{ batches_heading_title }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">{% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">

    <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label" for="input-filter-id">{{ entry_batch_id }}</label>
            <input type="text" name="filter_id" value="{{ filter.id }}" placeholder="{{ entry_batch_id }}" id="input-batch-id" class="form-control" />
          </div>
            <div class="form-group">
                <label class="control-label" for="input-started">{{ entry_started }}</label>
                <div class="input-group date">
                    <input type="text" name="filter_started" value="{{ filter.started }}" placeholder="{{ entry_started }}" data-date-format="YYYY-MM-DD" id="input-started" class="form-control" />
                    <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span> </div>
            </div>
          <div class="form-group">
            <label class="control-label" for="input-order_id">{{ entry_order_id }}</label>
            <input type="text" name="filter_order_id" value="{{ filter.order_id }}" placeholder="{{ entry_order_id }}" id="input-order_id" class="form-control" />
          </div>
          <div class="form-group">
            <label class="control-label" for="input-status">{{ entry_status }}</label>
            <select name="filter_status" id="input-status" class="form-control">
              <option value=""></option>
              {% for batch_status, status_color in status_colors %}
                  <option value="{{ batch_status }}"{% if batch_status == filter.status %} selected="selected"{% endif %} >{{ dpd_language.get('text_'~batch_status) }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group text-right">
            <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_batch_list }}</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="" enctype="multipart/form-data" id="form-batch">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-right"><a href="{{ sort_url.id }}"{% if sort == 'id' %}  class="{{ order|lower }}"{% endif %}>{{ column_batch_id }}</a></td>
                    <td class="text-left"><a href="{{ sort_url.started }}"{% if sort == 'started' %}  class="{{ order|lower }}"{% endif %}>{{ column_batch_started }}</a></td>
                    <td class="text-left"><a href="{{ sort_url.orders }}"{% if sort == 'orders' %}  class="{{ order|lower }}"{% endif %}>{{ column_batch_orders }}</a></td>
                    <td class="text-left">{{ column_batch_parcelnumbers }}</td>
                    <td class="text-left">{{ column_batch_status }}</td>
                    <td class="text-right">{{ column_action }}</td>
                  </tr>
                </thead>
                <tbody>
                
                {% if batches %}
                {% for batch in batches %}
                <tr>
                  <td class="text-right">{{ batch.id }}</td>
                  <td class="text-left">{{ batch.started.format(datetime_format) }}</td>
                  <td class="text-left">
                      {% for orderId in batch.orderIds %}
						  <a href="{{ url_generator.link('sale/order/info', 'order_id=') }}{{ orderId }}" title="View Order">{{ orderId }}</a>
                      {% endfor %}
                  </td>
                  <td class="text-right">
                    {% for parcelNumber in batch.parcelNumbers %}
						<a href="https://tracking.dpd.de/status/{{ locale }}/parcel/{{ parcelNumber }}" title="DPD Track and Trace" target="_blank">
                            {{ parcelNumber }}
						</a>
                    {% endfor %}
                  </td>
                  <td class="text-left" style="background: {{ status_colors[batch.status] }}; color: white">
					  {{ dpd_language.get('text_' ~ batch.status) }}
				  </td>
                  <td class="text-right"><div style="min-width: 80px;">
                      <div class="btn-group">
						  {% if batch.parcelNumbers is not empty %}
							  <a href="{{ url_generator.link('extension/shipping/dpdbenelux/download-label', 'batch_id=') }}{{ batch.id }}" data-toggle="tooltip" title="Download DPD Labels" class="btn btn-primary"><i class="fa fa-download"></i></a>
						  {% endif %}
						  {% if batch.shipments is not empty %}
	                          <a href="{{ url_generator.link('extension/shipping/dpdbenelux/shipments', 'filter[batch_id]=') }}{{ batch.id }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
						  {% endif %}
                      </div>
                    </div></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
                  </tbody>
                
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = '';

	var filter_id = $('input[name=\'filter_id\']').val();

	if (filter_id) {
		url += '&filter[id]=' + encodeURIComponent(filter_id);
	}

	var filter_started = $('input[name=\'filter_started\']').val();

	if (filter_started) {
		url += '&filter[started]=' + encodeURIComponent(filter_started);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter[status]=' + encodeURIComponent(filter_status);
	}

	var filter_order_id = $('input[name=\'filter_order_id\']').val();

	if (filter_order_id) {
		url += '&filter[order_id]=' + encodeURIComponent(filter_order_id);
	}

	location = '{{ filter_url }}' + url;
});
//--></script> 
  <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
//--></script>
</div>
{{ footer }} 