{#
 * This file is part of the Souk Shipping module of DPD Nederland B.V.
 *
 * Copyright (C) 2018  DPD Nederland B.V.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #}
<div class="container-fluid">

    <form id="dpd-edit-product-data-form">
    <input type="hidden" name="product_id" value="{{ product_id }}">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">{{ product_data_heading_title }}</h3>
        </div>
        <div class="panel-body">
            {% for error in errors %}
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endfor %}
            {{ text_data_only_required_for_export }}
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="entry_hsc">{{ entry_hsc }}</label>
                <div class="col-sm-10">
                    <input class="form-control" id="entry_hsc" name="export_hsc" type="text"
                           value="{{ export_hsc }}"/>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="entry_export_value">{{ entry_export_value }}</label>
                <div class="col-sm-10">
                    <input class="form-control" id="entry_export_value" name="export_value" type="text"
                           value="{{ export_value }}"/>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="entry_origin_country">{{ entry_origin_country }}</label>
                <div class="col-sm-10">
                    <input class="form-control" id="entry_origin_country" name="export_origin_country" type="text"
                           value="{{ export_origin_country }}"/>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default" id="dpd-cancel-edit-product-data">Cancel</button>
            <a class="btn btn-primary btn-ok" id="dpd-submit-product-data">{{ button_confirm }}</a>
        </div>
    </div>
    </form>
</div>